services:
  rabbitmq:
    container_name: brobar_rabbitmq
    image: rabbitmq:3.11
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "status" ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  product_db:
    container_name: "product_db"
    image: postgres:14
    env_file: .env
    environment:
      POSTGRES_USER: ${PRODUCT_DB_USER}
      POSTGRES_PASSWORD: ${PRODUCT_DB_PASSWORD}
      POSTGRES_DB: ${PRODUCT_DB_NAME}
    volumes:
      - product_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PRODUCT_DB_USER}" ]
      interval: 2s
      timeout: 2s
      retries: 10
    networks:
      - brobar_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  order_db:
    container_name: order_db
    image: postgres:14
    env_file: .env
    environment:
      POSTGRES_USER: ${ORDER_DB_USER}
      POSTGRES_PASSWORD: ${ORDER_DB_PASSWORD}
      POSTGRES_DB: ${ORDER_DB_NAME}
    volumes:
      - order_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${ORDER_DB_USER} -d ${ORDER_DB_NAME}" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - brobar_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  user_db:
    container_name: "user_db"
    image: postgres:14
    env_file: .env
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    volumes:
      - user_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER_DB_USER}" ]
      interval: 2s
      timeout: 2s
      retries: 10
    networks:
      - brobar_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  product-service:
    build:
      context: backend
      dockerfile: product-service/app.dockerfile
    container_name: brobar_product
    env_file: .env
    environment:
      DB_HOST: product_db
      DB_USER: ${PRODUCT_DB_USER}
      DB_PASSWORD: ${PRODUCT_DB_PASSWORD}
      DB_NAME: ${PRODUCT_DB_NAME}
      MIGRATIONS_PATH: /app/migrations
      SERVICE_NAME: product
      DB_SSLMODE: ${DB_SSLMODE}
      PRODUCT_PORT: ${PRODUCT_PORT}
      SERVICE_PORT: ${PRODUCT_PORT}
    depends_on:
      product_db:
        condition: service_healthy
    expose:
      - "${PRODUCT_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  payment-service:
    build:
      context: backend
      dockerfile: payment-service/app.dockerfile
    container_name: brobar_payment
    env_file: .env
    environment:
      PAYMENT_SERVICE_PORT: ${PAYMENT_SERVICE_PORT}
      MONOBANK_TOKEN: ${MONOBANK_TOKEN}
      PUBLIC_DOMAIN: ${NGINX_DOMAIN}
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
    depends_on:
      rabbitmq:
        condition: service_healthy
    expose:
      - "${PAYMENT_SERVICE_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  order-service:
    build:
      context: backend
      dockerfile: order-service/app.dockerfile
    container_name: brobar_order
    env_file: .env
    environment:
      DB_HOST: order_db
      DB_USER: ${ORDER_DB_USER}
      DB_PASSWORD: ${ORDER_DB_PASSWORD}
      DB_NAME: ${ORDER_DB_NAME}
      MIGRATIONS_PATH: /app/migrations
      SERVICE_NAME: order
      DB_SSLMODE: ${DB_SSLMODE}
      ORDER_PORT: ${ORDER_PORT}
      SERVICE_PORT: ${ORDER_PORT}
      WEB_SERVICE_URL: ${WEB_HOST_PROD}:${WEB_PORT}
      PRODUCT_SERVICE_URL: ${PRODUCT_HOST_PROD}:${PRODUCT_PORT}
      NGINX_DOMAIN: ${NGINX_DOMAIN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
      PAYMENT_WEBHOOK_URL: https://${NGINX_DOMAIN}/api/payment-service/webhooks/monobank
    depends_on:
      order_db:
        condition: service_healthy
    expose:
      - "${ORDER_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  user-service:
    build:
      context: backend
      dockerfile: user-service/app.dockerfile
    container_name: brobar_user
    env_file: .env
    environment:
      DB_HOST: user_db
      DB_USER: ${USER_DB_USER}
      DB_PASSWORD: ${USER_DB_PASSWORD}
      DB_NAME: ${USER_DB_NAME}
      MIGRATIONS_PATH: /app/migrations
      SERVICE_NAME: user
      DB_SSLMODE: ${DB_SSLMODE}
      USER_PORT: ${USER_PORT}
      SERVICE_PORT: ${USER_PORT}
    depends_on:
      user_db:
        condition: service_healthy
    expose:
      - "${USER_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  file-service:
    build:
      context: backend
      dockerfile: file-service/app.dockerfile
    container_name: brobar_file
    env_file: .env
    environment:
      FILE_PORT: ${FILE_PORT}
      SERVICE_PORT: ${FILE_PORT}
    volumes:
      - ./uploads:/app/uploads
    expose:
      - "${FILE_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  gateway-service:
    build:
      context: backend
      dockerfile: gateway-service/app.dockerfile
    container_name: brobar_gateway
    env_file: .env
    environment:
      GATEWAY_PORT: ${GATEWAY_PORT}
      SERVICE_PORT: ${GATEWAY_PORT}
      USER_HOST: ${USER_HOST_PROD}
      USER_PORT: ${USER_PORT}
      PRODUCT_HOST: ${PRODUCT_HOST_PROD}
      PRODUCT_PORT: ${PRODUCT_PORT}
      ORDER_HOST: ${ORDER_HOST_PROD}
      ORDER_PORT: ${ORDER_PORT}
      FILE_HOST: ${FILE_HOST_PROD}
      FILE_PORT: ${FILE_PORT}
      TELEGRAM_HOST: ${TELEGRAM_HOST_PROD}
      TELEGRAM_PORT: ${TELEGRAM_PORT}
      SYRVE_HOST: ${SYRVE_HOST_PROD}
      SYRVE_PORT: ${SYRVE_PORT}
      WEB_HOST: ${WEB_HOST_PROD}
      WEB_PORT: ${WEB_PORT}
      PAYMENT_SERVICE_HOST: http://payment-service
      PAYMENT_SERVICE_PORT: ${PAYMENT_SERVICE_PORT}
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  telegram-service:
    build:
      context: backend
      dockerfile: telegram-service/app.dockerfile
    container_name: brobar_telegram
    env_file: .env
    environment:
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
      TELEGRAM_PORT: ${TELEGRAM_PORT}
      SERVICE_PORT: ${TELEGRAM_PORT}
      SYRVE_SERVICE_URL: ${SYRVE_HOST_PROD}:${SYRVE_PORT}
      PRODUCT_SERVICE_URL: ${PRODUCT_HOST_PROD}:${PRODUCT_PORT}
      WEB_SERVICE_URL: ${WEB_HOST_PROD}:${WEB_PORT}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  syrve-service:
    build:
      context: backend
      dockerfile: syrve-service/app.dockerfile
    container_name: brobar_syrve
    env_file: .env
    environment:
      SYRVE_PORT: ${SYRVE_PORT}
      SERVICE_PORT: ${SYRVE_PORT}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build:
      context: frontend
      dockerfile: app.dockerfile
      args:
        - NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${GOOGLE_MAPS_API_KEY}
        - NEXT_PUBLIC_GATEWAY_URL=https://${NGINX_DOMAIN}/api
        - NEXT_PUBLIC_FILE_URL=https://${NGINX_DOMAIN}/api/files
    container_name: brobar_frontend
    env_file: .env
    environment:
      HOSTNAME: 0.0.0.0
      NEXT_PUBLIC_GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
      NEXT_PUBLIC_GATEWAY_URL: https://${NGINX_DOMAIN}/api
      NEXT_PUBLIC_FILE_URL: https://${NGINX_DOMAIN}/api/files
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  admin-panel:
    build:
      context: admin
      dockerfile: app.dockerfile
      args:
        - NEXT_PUBLIC_GATEWAY_URL=https://${NGINX_ADMIN_DOMAIN}/api
    container_name: brobar_admin
    env_file: .env
    environment:
      HOSTNAME: 0.0.0.0
      NEXT_PUBLIC_GATEWAY_URL: https://${NGINX_ADMIN_DOMAIN}/api
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  web_db:
    container_name: web_db
    image: postgres:14
    env_file: .env
    environment:
      POSTGRES_USER: ${WEB_DB_USER}
      POSTGRES_PASSWORD: ${WEB_DB_PASSWORD}
      POSTGRES_DB: ${WEB_DB_NAME}
    volumes:
      - web_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${WEB_DB_USER} -d ${WEB_DB_NAME}" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - brobar_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  web-service:
    build:
      context: backend
      dockerfile: web-service/app.dockerfile
    container_name: brobar_web
    env_file: .env
    environment:
      DB_HOST: web_db
      DB_USER: ${WEB_DB_USER}
      DB_PASSWORD: ${WEB_DB_PASSWORD}
      DB_NAME: ${WEB_DB_NAME}
      MIGRATIONS_PATH: /app/migrations
      SERVICE_NAME: web
      DB_SSLMODE: ${DB_SSLMODE}
      WEB_PORT: ${WEB_PORT}
      SERVICE_PORT: ${WEB_PORT}
    depends_on:
      web_db:
        condition: service_healthy
    expose:
      - "${WEB_PORT}"
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:alpine
    container_name: brobar_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf.template:ro
    environment:
      - NGINX_DOMAIN=${NGINX_DOMAIN}
      - NGINX_ADMIN_DOMAIN=${NGINX_ADMIN_DOMAIN}
    command: /bin/sh -c "envsubst '\$${NGINX_DOMAIN} \$${NGINX_ADMIN_DOMAIN}' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
    depends_on:
      - frontend
      - admin-panel
    networks:
      - brobar_net
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  product_db:
  user_db:
  order_db:
  web_db:


networks:
  brobar_net:
